# vim: set filetype=toml:

# kindle_schedule example configuration.
#
# Copy this to `~/.config/kindle_schedule/config.toml`, or set the
# configuration directory through the `KINDLE_SCHEDULE_DIR` environment
# variable.


# This directory contains a bunch of .ics files. kindle_schedule will search it
# and read all the files to generate the schedule.
#
# You can use vdirsyncer(1) to sync this directory to a central server like xandikos(8) or Google Calendar.
# See: https://vdirsyncer.pimutils.org/en/stable/tutorial.html
ics_directory = "~/.local/share/vdirsyncer/cal/"

# If you are not using vdirsyncer, comment out this line.
format = "vdir"

# Start and end range displayed for a day in the schedule.
start_time = 08:00:00
end_time =   22:00:00

# The number of days per page displayed on the schedule.
schedule_days = 5

# Total number of days to read events from.
max_days = 33

# Set the style of events based on which calendar they're in.
#
# Use the 'default' key for calendars that don't match.
#
# plain: gray, not bold title
# normal: white, black border
# striped: white, black border, stripe pattern
# striped2: same thing, but a more interesting pattern
# black: black background
calendar_styles = { default = "normal", Schedule = "plain", Evaluations = "striped", Exams = "black" }



[screen]
# Screen dimensions in inches.
# These default numbers are for the Kindle Paperwhite 3.
width = 3.6
height = 4.7666667

# If true, rotate from portrait to landscape or vice-versa.
flipped = false

# Font size in pt.
font_size = 6

# Font family used by Typst.
#
# Liberation Sans is usally not installed but it will fall back to a default font.
font_family = "Liberation Sans"
